*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  overflow: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Inter, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: end;
  gap: 30px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 298px;
  overflow: hidden scroll;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 26px;
  min-width: 399px;
  min-height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  min-width: 711px;
  max-height: 100%;
}

.result__video-container {
  position: relative;
  min-width: inherit;
  min-height: inherit;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  padding-bottom: 26px;
}
.content__list-item:last-child {
  padding-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  cursor: pointer;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  align-self: start;
  width: 200px;
  padding: 2px 0 0 2px;
}

/* шаг 4 работа с текстом */
.search-form__fieldset-title {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.title {
  font-family: Oswald, Roboto, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  width: 394px;
  color: inherit;
  text-decoration: none;
}

.content__video-card-title {
  max-width: 200px;
  padding-bottom: 6px;
  overflow: hidden;
  font-family: Oswald, Roboto, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", Inter, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 16.2px;
  text-align: left;
}

/* Шаг 5 Элементы формы и кнопки + Шаг 6 Состояния элементов формы и кнопок */
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
line-height: 19px;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__textfield {
  width: 225px;
  border: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0;
  color: #ffffffb2;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  background-color: transparent;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
}

.button {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 5px 0;
  color: #ffffff;
  font-family: "Fira Sans Condensed", Inter, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22.5px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 399px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Состояния кнопок */

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}
